@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills{
    width: 500px;
    padding: 40px;
    border-radius: 25px;
    background-color:rgb(172, 170, 170);
    box-shadow: 0 15px 20px gold;
}

.skills ul{
    list-style: none;
}

.skills ul li{
    margin: 20px 0;
}

.skills .barras{
    background-color: #ccc;
    display: block;
    height: 20px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.barras > span{
    height: 20px;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(225,192,34,1));
    position: absolute;
}

.html{
    width: 80%;
    animation: html 3s;
}

.css{
    width: 45%;
    animation: css 3s;
}

.javascript{
    width: 30%;
    animation: javascript 3s;
}

.bootstrap{
    width: 13%;
    animation: bootstrap 3s;
}


@keyframes
html {
    0%{width: 0%;}
    100%{width: 80%;}   
}

@keyframes
css {
    0%{width: 0%;}
    100%{width: 45%;}
}

@keyframes
javascript {
    0%{width: 0%;}
    100%{width: 30%;}   
}

@keyframes
bootstrap {
    0%{width: 0%;}
    100%{width: 13%;}   
}